<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OC Certification ML Engineer - Stackoverflow tagger</title>
    <link rel="icon" href="/static/stackoverflow.png">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>


    <div style="text-align:center;margin-top: 85px;">
        <form action="predict" method="POST">
            <div>
                <label for="post" style="font-size: 20px; margin-top: 2px;font-weight: bold;">Question Stackoverflow: </label>            
            </div>
            <div>
                <textarea name="post" style="font-size: 18px; margin-top: 2px;" rows="8" cols="50"></textarea>            
            </div>
            <div style="text-align:center;margin-bottom: 25px;">
                <input type="image" src="/static/send.png" border="0" alt="Submit" width="300px">
            </div>
        </form>
    </div>

</body>
</html>