<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OC Certification ML Engineer - Stackoverflow tagger</title>
    <link rel="icon" href="/static/stackoverflow.png">
</head>
<body>

    <div style="text-align:center;">
        <div style="margin-top: 100px;">
           <img src="/static/stackoverflow.png" alt="OC" >
        </div>
     </div>

    <div style="text-align:center;margin-top: 120px;">
        <h2>
            Welcome to StackOverflow tagging API !
        </h2>    
    </div>
    <div style="text-align:center;margin-top: 140px;">
        <h3>
            Please have a <a href="/form">GO</a> !
        </h3>    
    </div>

</body>
</html>